:root {
  --primary-font: 'Anodina', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --black: #313638;
  --white: #e8e9eb;
}